@charset "UTF-8";
body{
	background-color: #D9AFD9;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	color:black;
	margin:5%;
	text-align:center;
	font-size:20px;
}

a{
	text-decoration:none;
	color:black;
	text-align:"center";
}

button {
  margin:10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

h1{
	font-family:monospace;
	font-size:30px;
	text-align:center;
}

legend {
	font-family:monospace;
	text-align:left;
	color:white;
	background-color:black;
	padding:10px;
	border-radius:5px;
}

input{
	margin-bottom:2%;
	padding:10px;
	border-radius:5px;
	border-color:black;
}

form{
	font-family:monospace;
}

fieldset{
	border:2px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-color:black;
  text-align:"center";
}

.intro {
	border: none;
	display:block;
	width:50%;
	background: #888a85;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	margin-top:20px;
}
.intro:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	transition: all 0.3s ease 0s;
}

td {
  background-color:#eeeeec;
  padding: 4px;
  font-size:16px;
}

th{
     padding: 8px;
	background-color:black;
	color:white;
}
